body {
  background: rgb(168, 160, 160);
  color: rgb(45, 45, 45);
  padding: 10px;
  font-family: arial;
}
#all-contents {
  max-width: 800px;
  margin: auto;
}

/* navigation menu */
nav {
  background: rgb(255, 255, 255);
  margin: 0 auto;
  margin-bottom: 20px;
  display: flex;
  padding: 10px;
}
h1 {
  display: flex;
  align-items: center;
  color: rgb(0, 0, 0);
  flex: 1;
  margin: 0;
}
#nav-ul {
  list-style-image: none;
}
.nav-li {
  display: inline-block;
  padding: 0 10px;
}
a {
  text-decoration: none;
  color: #2d24b1;
}

/* main container area beneath menu */
main {
  background: rgba(212, 214, 218, 0.541);
  display: flex;
}
.sidebar {
  margin-right: 25px;
  padding: 10px;
}
.sidebar-img {
  width: 200px;
}
.content {
  flex: 1;
  padding: 15px;
}

/* portfolio styles */
#interests {
  border: 4px rgb(255, 255, 255) ridge;
  padding: 8px;
}
h2,
h3 {
  margin: 0px;
}

/* portfolio styles */
.content h1 {
  color: black;
}

#portfolio {
  list-style-type: none;
  padding-left: 0;
}

#portfolio li {
  background: #ae2f2f;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

#portfolio li:hover {
  background: #4b0808;
}

#portfolio a {
  text-decoration: none;
  color: #454545;
}
